<% if(flashMessages) { %> 
    <% if(flashMessages.success) { %> 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= flashMessages.success %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
    <% if(flashMessages.danger) { %> 
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <%= flashMessages.danger %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% } %> 
<% } %> 



